@{
ViewData["Title"] = "Fake User Generator";
}

@section scripts {
    <script>
    $(document).ready(function() {
        var isLoading = false; // Флаг для отслеживания состояния загрузки данных
        // Функция для загрузки данных при прокрутке страницы
        function LoadMoreUsers() {
            var errorRate = $('#errorRateInput').val();
            var seed = $('#seedInput').val();
            var region = $('#regionSelect').val();
            var currentPage = parseInt($('#currentPage').val()); // Получаем текущую страницу

            // Проверяем, не загружаются ли уже данные
            if (!isLoading) {
                isLoading = true; // Устанавливаем флаг загрузки

                // Отправляем запрос на сервер для загрузки данных следующей страницы
                $.post('/User/GenerateUsers', { count: 10, errorRate: errorRate, seed: seed, region: region, page: currentPage + 1 }, function(data) {
                    // Заменяем содержимое таблицы новыми данными
                    $('#userTable tbody').html(data);
                    // Увеличиваем номер текущей страницы
                    $('#currentPage').val(currentPage + 1);

                    isLoading = false; // Сбрасываем флаг загрузки
                });
            }
        }

        // Обработчик события прокрутки страницы
        $(window).scroll(function() {
            // Проверяем, достиг ли пользователь конца страницы и не загружаются ли уже данные
            if ($(window).scrollTop() + $(window).height() >= $(document).height() && !isLoading) {
                // Вызываем функцию для загрузки дополнительных данных
                LoadMoreUsers();
            }
        });

        // При загрузке страницы сразу загрузим данные
        LoadMoreUsers();
        
        
        $('#exportButton').click(function() {
            // Получаем текущие параметры
            var errorRate = $('#errorRateInput').val();
            var seed = $('#seedInput').val();
            var region = $('#regionSelect').val();
            var currentPage = $('#currentPage').val();

            // Формируем URL для запроса экспорта
            var exportUrl = '/User/ExportToCsv?errorRate=' + errorRate + '&seed=' + seed + '&region=' + region + '&page=' + currentPage;

            // Отправляем GET-запрос на сервер для экспорта в CSV
            window.location = exportUrl;
        });
    });

    </script>

}

<div class="row mt-3">
    <div class="col-md-3">
        <label for="errorRateInput">Errors:</label>
        <input id="errorRateInput" type="number" class="form-control" step="0.5" min="0" max="1000" value="0" onchange="ReloadTable()">

    </div>
    <div class="col-md-3">
        <label for="seedInput">Seed:</label>
        <input id="seedInput" type="number" class="form-control" value="12345" onchange="ReloadTable()">
    </div>
    <div class="col-md-3">
        <label for="regionSelect">Region:</label>
        <select id="regionSelect" class="form-control" onchange="ReloadTable()">
            <option value="en">USA</option>
            <option value="pl">Polish</option>
            <option value="ru">Russia</option>
            <option value="fr">France</option>
        </select>
    </div>
</div>
<div class="col-md-3">
</div>
<div >
    <button id="exportButton" class="btn btn-primary">Export to CSV</button>
</div>

<div id="userTable" class="row mt-5">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>UUID</th>
            <th>FullName</th>
            <th>Adress</th>
            <th>Phone number</th>
        </tr>
        </thead>
        <tbody>
        <!-- Здесь будут отображаться данные о пользователях -->
        </tbody>
    </table>
</div>

<input type="hidden" id="currentPage" value="1"> <!-- Скрытое поле для хранения номера текущей страницы -->
