@{
ViewData["Title"] = "Fake User Generator";
}

@section scripts {
    <script>
    $(document).ready(function() {
        var isLoading = false; 
       
        function LoadMoreUsers() {
            var errorRate = $('#errorRateInput').val();
            var seed = $('#seedInput').val();
            var region = $('#regionSelect').val();
            var currentPage = parseInt($('#currentPage').val());
            
            if (!isLoading) {
                isLoading = true;

             
                $.post('/User/GenerateUsers', { count: 10, errorRate: errorRate, seed: seed, region: region, page: currentPage + 1 }, function(data) {
                    $('#userTable tbody').html(data);
                    $('#currentPage').val(currentPage + 1);
                    isLoading = false;
                });
            }
        }


        $(window).scroll(function() {

            if ($(window).scrollTop() + $(window).height() >= $(document).height() && !isLoading) {
      
                LoadMoreUsers();
            }
        });

  
        LoadMoreUsers();
        
        
        $('#exportButton').click(function() {
            var errorRate = $('#errorRateInput').val();
            var seed = $('#seedInput').val();
            var region = $('#regionSelect').val();
            var currentPage = $('#currentPage').val();
            
            var exportUrl = '/User/ExportToCsv?errorRate=' + errorRate + '&seed=' + seed + '&region=' + region + '&page=' + currentPage;
            
            window.location = exportUrl;
        });
    });

    </script>

}

<div class="row mt-3">
    <div class="col-md-3">
        <label for="errorRateInput">Errors:</label>
        <input id="errorRateInput" type="number" class="form-control" step="0.5" min="0" max="1000" value="0" onchange="ReloadTable()">

    </div>
    <div class="col-md-3">
        <label for="seedInput">Seed:</label>
        <input id="seedInput" type="number" class="form-control" value="12345" onchange="ReloadTable()">
    </div>
    <div class="col-md-3">
        <label for="regionSelect">Region:</label>
        <select id="regionSelect" class="form-control" onchange="ReloadTable()">
            <option value="en">USA</option>
            <option value="pl">Polish</option>
            <option value="ru">Russia</option>
            <option value="fr">France</option>
        </select>
    </div>
</div>
<div class="col-md-3">
</div>
<div >
    <button id="exportButton" class="btn btn-primary">Export to CSV</button>
</div>

<div id="userTable" class="row mt-5">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>UUID</th>
            <th>FullName</th>
            <th>Address</th>
            <th>Phone number</th>
        </tr>
        </thead>
        <tbody>
        <!-- Здесь будут отображаться данные о пользователях -->
        </tbody>
    </table>
</div>

<input type="hidden" id="currentPage" value="1"> <!-- Скрытое поле для хранения номера текущей страницы -->
